.new-switch {
  display: block;
  margin: 2px auto;
}

.new-switch {
  position: relative;
    text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 28px; /* ความสูง พื้นที่ปุ่ม*/
  padding: 0px;
  background-color: #dedede;
  border-radius: 14px; /*ตัดขอบมน พื้นที่ปุ่ม*/
  cursor: pointer;
   
   } 
  .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 14px; /*ขนาด ตนส.*/
  text-transform: uppercase;
  background: lighten(#313335, 68%);
  border-radius: inherit;
  -webkit-transition: 0.35s ease-out;
  -moz-transition: 0.35s ease-out;
  -o-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition:0.35s inherit;
  -moz-transition: 0.35s inherit;
  -o-transition: 0.35s inherit;
  transition: 0.35s inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: lighten(#313335, 45%);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #66acbd;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px; /* ขนาดกว้าง*/
  height: 22px; /*ขนาดยาว*/
  background: white;
  border-radius: 13px; /*ตัดขอบปุ่ม มน*/
  -webkit-transition: left 0.35s ease-out;
  -moz-transition: left 0.35s ease-out;
  -o-transition: left 0.35s ease-out;
  transition: left 0.35s ease-out;
}

.switch-input:checked ~ .switch-handle {
  left: 45px; /*ตำแหน่ง ตอนกด*/
  -webkit-transition:  0.35s all;
  -moz-transition:  0.35s all;
  -o-transition:  0.35s all;
  transition:  0.35s all;
}



.switch-green > .switch-input:checked ~ .switch-label {
  background: #50bd5c;
  }